<div class="grid grid-cols-3 gap-3">
  <app-product [title]="'Producto 1'" [price]="20" [img]="'https://picsum.photos/640/640?r=23'" (addToCart)="fromChild($event)"></app-product>
  <app-product [title]="'Producto 2'" [price]="100" [img]="'https://picsum.photos/640/640?r=12'" (addToCart)="fromChild($event)"></app-product>
  <app-product [title]="'Producto 3'" [price]="380" [img]="'https://picsum.photos/640/640?r=11'" (addToCart)="fromChild($event)"></app-product>
  <app-product [title]="'Producto 4'" [price]="250" [img]="'https://picsum.photos/640/640?r=26'" (addToCart)="fromChild($event)"></app-product>
</div>

